/* mon css */

.glow {
    font-size: 80px;
    color: #fff;
    text-align: left;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate; 
    animation: glow 1s ease-in-out infinite alternate; 
    
  }

 
    @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #50db91, 0 0 30px #50db91, 0 0 40px #40d485, 0 0 50px #27ce75, 0 0 60px #25d778, 0 0 70px #18D26E;
        }
        
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #35e888, 0 0 40px #35e888, 0 0 50px #35e888, 0 0 60px #35e888, 0 0 70px #35e888, 0 0 80px #35e888;
        }
      }


 